@{
    ViewData["Title"] = "Privacy Policy";
    @using InventoryManagement.Application.Dto
@using InventoryManagement.Application.Dto.Categories
}
@model PaginatedListDto<CategoryDto>;

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
